#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    border:darkolivegreen;
    position: relative;
    width: auto;
}
#card{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
}
.card-title{
    text-align: center;
}

