<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usage Details</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- aside start -->
            <aside>
                <!--top section-->
                <div class="top">
                    <div class="logo">
                        <h2>
                            <span class="danger">SSBM Admin</span>
                        </h2>
                    </div>
                    <button  id="menu_bar">
                        <span class="material-symbols-outlined">menu</span>
                    </button>

                    <button  id="close_btn">
                        <span class="material-symbols-outlined"> close </span>
                    </button>
                </div>
                <!--top section-->
                <div class="sidebar">

                    <a href="index.html">
                        <span class="material-symbols-outlined"> grid_view </span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="small-business.html" >
                        <span class="material-symbols-outlined"> supervisor_account </span>
                        <h3>Business View</h3>
                    </a>
                    <a href="student.html">
                        <span class="material-symbols-outlined"> person </span>
                        <h3>Student View</h3>
                    </a>
                    <a href="analytics.html">
                        <span class="material-symbols-outlined"> monitoring </span>
                        <h3>Analytics</h3>
                    </a>
                    <a href="usage-details.html">
                        <span class="material-symbols-outlined"> email </span>
                        <h3>User Approvals</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined"> lab_profile  </span>
                        <h3>Report</h3>
                    </a>

                    <a href="login.html">
                        <span class="material-symbols-outlined"> logout  </span>
                        <h3>Logout</h3>
                    </a>
                </div>
            </aside>
        <!-- aside end-->
        <main>

        </main>
        <div class="right">

        </div>
    </div>

<!-- Bootstrap JS -->


</body>

</html>

